---
layout: main
title: betterlivingthroughpython
---

{% for post in paginator.posts %}
{% if post.hidden or post.showonfront == false %}
{% else %}

<div class="post">
	<h2><a href="{{ post.url }}">{{post.title}}</a></h2>
		<div class="date">
			{{ post.date | date: "%B %d, %Y" }}
		</div>
		<div class="postcontent"> 
		  {{ post.content }}
		</div>
		<div id="shader"></div>
</div>
{% endif %}

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="previous nohover" style="float: left; padding-top: .5em; ">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}" class="previous nohover" style="float: left; padding-top: .5em; ">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous nohover" style="float: left; padding-top: .5em; ">Previous</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next nohover" style="float: right; padding-top: .5em; ">Next</a>
  {% else %}
    <span class="next nohover" style="float: right; padding-top: .5em; hover">Next</span>
  {% endif %}
</div>
